.corner-box::before,
.corner-box::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.corner-box::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.corner-box::after {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner-box > .bottom-corner::before,
.corner-box > .bottom-corner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.corner-box > .bottom-corner::before {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}

.corner-box > .bottom-corner::after {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
}