.Global-Color{
    background: azure;
}
.hover-text-shadow:hover {
  text-shadow: 2px 2px 4px #274034;
}
.custom-cursor {
  cursor: url('/cursor.png') 16 16, auto;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
}
::-webkit-scrollbar-button {
  display: none;
}
